body {
  background-color: #f3f2f0;
  font-family: Poppins;
}

.wrapper{
    margin-top: 75px;
}

.navbar {
  overflow: hidden;
  background-color: #f3f2f0;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: Poppins;
  font-size: 10px;
  z-index: 1;
}

.navbar a {
  float: left;
  display: block;
  color: #6f645e;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
  font-size: 15px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  padding-top: 50px;
  height: 1500px;
  background-color: #f3f2f0;
}

.startbutton {
  background-color: #8c5652;
  padding: 13px 15px;
  border: 1px solid #dadce0;
  font-size: 16px;
  margin-bottom: 24px;
  font-family: Poppins;
  margin-left: 63px;
  width: 40%;
  display: inline;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}
.grid-item {
  background-color: #f3f2f0;
  border: 1px solid #f3f2f0;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  color: #2e2c2b;
}

* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
  margin: 0;
}
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

html {
  scroll-behavior: smooth;
}

.hpcontainer {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hpsection {
  font-family: Poppins;
  text-align: center;
  font-size: 50px;
  margin-bottom: 0%;
}

.hpsub {
  font-family: Poppins;
  text-align: center;
  font-size: 20px;
  margin-top: 0%;
}
.main-footer {
  background-color: #fff;
  border-top: 1px solid #dee2e6;
  color: #869099;
  padding: 1rem;
}
footer {
  display: block;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  @media (prefers-reduced-motion: reduce) {
    .btn {
      transition: none;
    }
  }
  .btn:hover {
    color: #ab6a66;
    text-decoration: none;
  }
  .btn:focus {
    outline: 0;
    box-shadow: none;
  }
  .btn:disabled {
    opacity: 0.65;
    box-shadow: none;
  }
  .btn-primary {
    color: #fff;
    background-color: #ac7672;
    border-color: #ac7672;
    box-shadow: none;
  }
  .btn-primary:hover {
    color: #fff;
    background-color: #ab6a66;
    border-color: #ab6a66;
  }
  .btn-primary:focus {
    color: #fff;
    background-color: #ab6a66;
    border-color: #ab6a66;
    box-shadow: 0 0 0 0 rgba(38, 143, 255, 0.5);
  }
  .btn-primary:disabled {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-color: #ffffff;
  }
  
  .btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    box-shadow: none;
  }
  .btn-success:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
  }
  .btn-success:focus {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
    box-shadow: 0 0 0 0 rgba(72, 180, 97, 0.5);
  }
  .btn-success:disabled {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
  }
  .btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    box-shadow: none;
  }
  .btn-info:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
  }
  .btn-info:focus {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
    box-shadow: 0 0 0 0 rgba(58, 176, 195, 0.5);
  }
  .btn-info:disabled {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
  }
  .btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    box-shadow: none;
  }
  .btn-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
  }
  .btn-danger:focus {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
    box-shadow: 0 0 0 0 rgba(225, 83, 97, 0.5);
  }
  .btn-danger:disabled {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
  }
  .btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
  }

.input-group-text{
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}
